body {
    background-color: #e7e7e7;
    font-family: sans-serif;
    padding-bottom: 30px;
    padding: 0px 5% 30px;
}

h1 {
    color: oklab(38.068999999999996% 0.04568 0.05799);
    text-align: center;
}

h2 {
    color: #503224;
}

img {
    width: 250px;
}
